@model Instructor
@{
    ViewBag.Title = "Edit an instructor";
}

<form asp-controller="Instructor" asp-action="Edit" method="post">
    <input asp-for="ID" type="hidden" />
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <label asp-for="LastName"></label> <input asp-for="LastName" /> <br />
    <label asp-for="IsTenured"></label> <input asp-for="IsTenured" type="checkbox" /> <br />
    <label asp-for="DateHired"></label> <input asp-for="DateHired" type="date" /> <br />
    <label asp-for="Department"></label>
    <select asp-for="Department" asp-items="@Html.GetEnumSelectList<Departments>()">
        <option value="">select one</option>
    </select> <br />
    <br />
    <input type="submit" value="Save changes" />
    <input type="button" value="Cancel" onclick="history.back();" />

    <div asp-validation-summary="All" style="color:red"></div>

    @section SMUSection{
        <a class="btn btn-warning" asp-action="Delete" asp-controller="Instructor" asp-route-id="@Model.ID">Delete current instructor</a>
    }
</form>
